
<div class="header-bottom">
    <!-- navigation section -->
    <div class="w3_navigation">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <nav class="menu menu--miranda">
              <ul class="nav navbar-nav menu__list">
                <li class="menu__item menu__item--current">
                  <a [routerLink]="['/home']" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="['/about']" class="menu__link">About Us</a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="['/tag']" class="menu__link">Tags</a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="['/blog']"  class=" menu__link">blog</a>
                </li>
                <li class="menu__item">
                  <a href="#contact" class="menu__link">Contact</a>
                </li>
               
              </ul>
            </nav>
            
          </div>
        </nav>
      </div>
      <!-- /navigation section -->
    </div>
    <!-- //header -->
  </div>
<hr>
<h1>Tags</h1>
<hr>

<div class="container">    
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">C - Language</div>
               <div class="panel-footer">C is a high-level & general-purpose programming language that is ideal for developing firmware or portable applications. </div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">JAVA</div>
        
        <div class="panel-footer">Java is a general-purpose OOPS language designed to be used in conjunction with the Java Virtual Machine.</div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">C ++</div>
      
        <div class="panel-footer">C++ is an OOP language that is viewed by many as the best language for creating large-scale applications. </div>
      </div>
    </div>
  </div>
</div><br>

<!-- next row -->

<div class="container">    
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">HTML 5</div>
        <div class="panel-footer">HTML is an acronym which stands for Hyper Text Markup Language. We can create static website by HTML only.</div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">CSS 3</div>
        <div class="panel-footer">CSS stands for Cascading Style Sheet.CSS is used to design HTML tags & helps the web designers to apply style on HTML tags.</div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">BOOTSTRAP</div>
        <div class="panel-footer">BOOTSTRAP is a front-end framework used for faster web development. It facilitates you to create responsive designs.</div>
      </div>
    </div>
  </div>
</div><br>

<!-- next row -->

<div class="container">    
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary">
        <div class="panel-heading">JQUERY</div>
        <div class="panel-footer">JQuery is a easy, light-weight & JavaScript lib. Make the things like HTML document traversal, animation effects to web page across all the major browsers.</div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">JavaScript</div>
        <div class="panel-footer">JavaScript is an object-based scripting language that is lightweight and cross-platform. JavaScript is used to create interactive websites.</div>
      </div>
    </div>
    <div class="col-sm-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">TypeScript</div>
        <div class="panel-footer">TypeScript is JavaScript for application-scale development. TypeScript is a strongly typed, object oriented, compiled language.</div>
      </div>
    </div>
  </div>
</div><br>

<!-- next row -->


<div class="container">    
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading">SQL</div>
        <div class="panel-footer">SQL stands for Structured Query Language. A database language for database creation, deletion, fetching, modifying rows.</div>
      </div>
    </div>
    <div class="col-md-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">PHP</div>
        <div class="panel-footer">PHP stands for HyperText Preprocessor. It is a open source, interpreted & object-oriented scripting language.</div>
      </div>
    </div>
    <div class="col-md-3"> 
      <div class="panel panel-primary">
        <div class="panel-heading">PYTHON</div>
        <div class="panel-footer">Python is an object-oriented, high level language, interpreted, dynamic & multipurpose programming language.</div>
      </div>
    </div>
  </div>
</div><br>