.row{
    background-color: rgb(231, 236, 238);
    border: 2px solid black;
}
.col-md-4 ul li a{
    padding: 2px;
    border-radius: 0px;
}

.col-md-4 label{
    font-size: 30px;
    color: rgb(226, 219, 219);
}