<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <span>Snipe</span>Community</a>
        <ul class="nav navbar-top-links navbar-right">
  
          <li class="dropdown ">
            <a href="login.html">
              <em class="fa fa-power-off"></em>
            </a>
          </li>
        </ul>
      </div>
    </div>
  
  </nav>
  
  <div class="main" style="background-color:#f1f4f7">
  
    <br>
    <br>
    <div class="row">
      <br>
      <br>
      <div class="col-lg-12">
        <h1 class="page-header">Employee Dashboard</h1>
      </div>
    </div>
    <div class="container">
  
      <div class="panel panel-container">
        <div class="row">
          <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-teal panel-widget border-right">
              <div class="row no-padding">
                <em class="fa fa-xl fa-question-circle color-blue"></em>
                <div class="large">120</div>
                <div class="text-muted">Questions</div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-blue panel-widget border-right">
              <div class="row no-padding">
                <em class="fa fa-xl fa-comments color-orange"></em>
                <div class="large">52</div>
                <div class="text-muted">Unanswered Questions</div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-orange panel-widget border-right">
              <div class="row no-padding">
                <em class="fa fa-xl fa-check color-teal"></em>
                <div class="large">24</div>
                <div class="text-muted">Correct</div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-red panel-widget ">
              <div class="row no-padding">
                <em class="fa fa-xl fa-remove color-red"></em>
                <div class="large">5</div>
                <div class="text-muted">Wrong</div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
  
      <div class="row">
        <div class="container">
          <div class="panel panel-default chat">
            <div class="panel-heading">
              Questions
              <ul class="pull-right panel-settings panel-button-tab-right">
  
  
                <span class="pull-right clickable panel-toggle panel-button-tab-left">
                  <em class="fa fa-toggle-up"></em>
                </span>
              </ul>
            </div>
  
            <div class="panel-body">
              <div class="container">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#got">what is git and tell me in details so that i can learn about it in a betterr ways??</button>
                <div id="got" class="collapse">
                  <div *ngIf="submitted">
                    
                  </div>
                  <form [formGroup]="form" (ngSubmit)="answer()" *ngIf="!submitted">
              <fieldset>
                      <br>
                     <div>
                        <label for="answer">Answer</label>
                        <textarea class="form-control" rows="5" placeholder="enter your answer" formControlName="eans" required=""></textarea>
                        
                      </div>
                      <br>
                      <div>
                        <div class="col-md-6 widget-center">
                          <button type="submit" class="btn btn-info btn-md pull-center">Submit</button>
                        </div>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  
   
  