
<div class="header-bottom">
    <!-- navigation section -->
    <div class="w3_navigation">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="navbar-header navbar-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <nav class="menu menu--miranda">
              <ul class="nav navbar-nav menu__list">
                <li class="menu__item menu__item--current">
                  <a [routerLink]="['/home']" class="menu__link">Home</a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="['/about']" class="menu__link">About Us</a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="['/tag']" class="menu__link">Tags</a>
                </li>
                <li class="menu__item">
                  <a [routerLink]="['/blog']"  class=" menu__link">blog</a>
                </li>
                <li class="menu__item">
                  <a href="#contact" class="menu__link">Contact</a>
                </li>
                
              </ul>
            </nav>
            
          </div>
        </nav>
      </div>
      <!-- /navigation section -->
    </div>
    <!-- //header -->
  </div>

<div class="index-content">
    <div class="container">
           
                <div class="col-md-5">
                    <div class="card">
                        <img src="images/ang.jpg">
                        <h4>Angular Js</h4>
                        <p>AngularJS is a JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.</p>
                       <button type="button" class="blue-button" data-toggle="modal" data-target="#myModal">Read More</button>
                           </div>
                </div>
            

                <div class="col-md-5">
                    <div class="card">
                        <img src="images/bo.jpg">
                        <h4>Bootstrap</h4>
                        <p>Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your ideas or build your entire app with our Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.</p>
                          <button type="button" class="blue-button" data-toggle="modal" data-target="#myModal1">Read More</button>
                    </div>
                </div>
            
         </div>
         <br>

         <div class="container">
                <div class="col-md-5">
                    <div class="card">
                        <img src="images/python.png">
                        <h4>Python</h4>
                        <p>Python is a multiparadigm, interpreted, high-level programming language. Python allows programmers to use different programming styles to create simple or complex programs, get quicker results and write code almost as if speaking in a human language.</p>
                        <button type="button" class="blue-button" data-toggle="modal" data-target="#myModal2">Read More</button>
                    </div>
                </div>
            
           
                
           
                <div class="col-md-5">
                    <div class="card">
                        <img src="images/git.jpg">
                        <h4>Git</h4>
                        <p>Git is a version control system for tracking changes in computer files and coordinating work on those files among multiple people. As a distributed revision control system it is aimed at speed, data integrity, and support for distributed, non-linear workflows.</p>
                         <button type="button" class="blue-button" data-toggle="modal" data-target="#myModal3">Read More</button>
                    </div>
                </div>
            

    </div>
</div>

